.containers {
    padding: 200px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.untouched {
    background-color: #88ac84;
    border: solid 1px #710e6c;
    border-radius: 50px;
}
.touched {
    background-color: #88aabd;
    border: solid 1px #710e6c;
    border-radius: 50px;
}
.dirty {
    background-color: #b5af83;
    border: solid 1px #710e6c;
    border-radius: 50px;
}
.pristine {
    background-color: rgba(228, 223, 218, 0.65);
    border: solid 1px #710e6c;
    border-radius: 50px;
}
.valid {
    background-color: #31b6e6;
    border: solid 1px #710e6c;
    border-radius: 50px;
}
.invalid {
    background-color: rgba(239, 126, 117, 0.72);
    border: solid 1px #710e6c;
    border-radius: 50px;
}
.pending {
    background-color: rgb(74, 234, 120);
    border: solid 1px #710e6c;
    border-radius: 50px;
}
.btn-submit {
    margin-left: 20px;
    button {
        height: 60px;
    }
}
.loading {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #3498db;
    position: relative;
    margin-left: 20px;
}

.loading span {
    display: inline-block;
    position: relative;
    animation: wave 1.5s infinite;
    animation-delay: calc(var(--i) * 0.1s);
}

@keyframes wave {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
