.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    z-index: 1; // Помещаем компонент на задний план
}
.header-text-button {
    text-align: center;
}
