.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

//.sidenav .mat-toolbar {
//  background: inherit;
//}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

.active-link { background-color: #cfb12c; color: #ffffff; }

mat-toolbar{
  padding-top: env(safe-are-inset-top);
  //height: calc(200px + env(safe-are-inset-top));
}

.icon{
  margin-left: 10px;
  background-color: #468ccd;
  border-radius: 5px;
}
