mat-grid-tile {
  background: rgb(137, 137, 137);
  margin-top: 40px;
}

.btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 400px;
  height: 50px;
  margin-top: 30px;
}
