<nav>
  <ul>
    <li>
      <button mat-raised-button color="primary" routerLink="/" routerLinkActive="active">
        Start page
      </button>
    </li>
    <li>
      <button mat-raised-button color="primary" routerLink="/users" routerLinkActive="active">
        Users from JSONplaceholder
      </button>
    </li>
    <li>
      <button mat-raised-button color="primary" routerLink="/users-back" routerLinkActive="active">
        Users from backend
      </button>
    </li>
    <li>
      <button mat-raised-button color="primary" routerLink="/materials" routerLinkActive="active">
        Materials
      </button>
    </li>
    <li>
      <button mat-raised-button color="primary" routerLink="/404" routerLinkActive="active">
        404
      </button>
    </li>
  </ul>
</nav>