<nav>
    <ul>
        <li>
            <button mat-raised-button color="primary" routerLink="/" routerLinkActive="active">
                Start page
            </button>
        </li>
        <li>
            <button mat-raised-button color="primary" routerLink="/users" routerLinkActive="active">
                Users
            </button>
        </li>
        <li>
            <button mat-raised-button color="primary" routerLink="/404" routerLinkActive="active">
                404
            </button>
        </li>
    </ul>
</nav>