<form [formGroup]="formUser" (ngSubmit)="submit()">
    <mat-dialog-content>
        <div>
            <mat-form-field>
                <mat-label>name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone">
            </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button (click)="onClose()">No Thanks</button>
        <button mat-button [disabled]="!formUser.valid" (click)="submit()" cdkFocusInitial>{{ data.isEdit ? 'Edit' :
            'Create' }}</button>
    </mat-dialog-actions>
</form>