<div>

<h1>Users</h1>
<div class="user-list">
  <div>
    <button (click)="backClicked()" class="main-page" >
      <li>
        <div class="divInner"></div>
        <div class="divShadow"></div>
        <div class="spanTxt iconHome"></div>
      </li>
    </button>
  </div>
     <ng-container *ngFor="let user of users$ | async">
       <app-user-card [user]='user' (deleteUser)="deleteUser($event)"></app-user-card>
     </ng-container>

</div>
  <button mat-button color="primary" (click)="openDialog()">
    Add user
  </button>
</div>
