<mat-card class="user-card">
  <img mat-card-sm-image src="https://cdn-icons-png.flaticon.com/512/149/149071.png" />
  <mat-card-content>
    <p>Userame: {{ user.username }}</p>
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Phone: {{ user.phone }}</p>
  </mat-card-content>
  <mat-card-actions class="card-btns">
    <button mat-raised-button color="primary" (click)="openEditDialog(user)">Edit</button>
    <button mat-raised-button color="warn" (click)="onDeleteUser(user.id)">Delete</button>
  </mat-card-actions>
</mat-card>
