:root {
  // COLORS
  --color-purple: #3E1671;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #777777;
  --color-main-dark: #0D0714;
  --color-purple-light: #9E78CF;
  --color-green: #78CFB0;
  --color-red: #EB4C42;

  // FONTS
  --font-primary: 'Inter', Arial, sans-serif;
}



