//
.example-card {
  min-width: 300px;
  margin: 30px;
}
.card-header {
  background-color: #9c9380;
  color: #27231d;
  display: flex;
  text-align: left;
  margin-bottom: 20px;
}
.card-content {
  margin-left: 40px;
  text-align: left;
  margin-bottom: 20px;
}

.card-header mat-card-title-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header mat-card-title {
  text-align: center;
}
button{
  margin: 30px;
}
