* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f5f0ff;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 30px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content 1fr max-content;
  gap: 30px;
  justify-content: center;
  align-content: space-between;
}

.header, .footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: rgba(132, 71, 255, 0.15);
}


