.users-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.add-user-button {
    background: transparent;
    width: 150px;
    margin: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
}