<mat-card class="user-card">
  <div class="user-card-content">
    <mat-card-header>
      <mat-card-title>User name:</mat-card-title>
      <mat-card-title>{{user?.name}}</mat-card-title>
      <mat-card-subtitle>User ID: {{user?.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>User company name: {{user?.company?.name}}</p>
      <p>User email: {{user?.email}}</p>
    </mat-card-content>
  </div>
  <div class="user-card-actions">
    <mat-card-actions class="user-card-buttons">
      <button mat-button (click)="deleteCard(user!.id)">Delete</button>
      <button mat-button (click)="openDialog('1000ms', '1000ms', true, user!.id)">Redact</button>
    </mat-card-actions>
  </div>
</mat-card>