<h2 mat-dialog-title>Your material</h2>
<mat-dialog-content class="mat-typography" *ngIf="materialData">

  <h3>{{materialData.title }}</h3>


  <ng-container *ngIf="materialType === FileType.PDF">
    <ngx-extended-pdf-viewer [src]="materialData.material_link"></ngx-extended-pdf-viewer>
  </ng-container>


  <ng-container *ngIf="materialType === FileType.MP3">
    <audio controls>
      <source src="{{materialData.material_link}}" type="audio/mpeg">
      Ваш браузер не поддерживает воспроизведение аудио.
    </audio>
  </ng-container>


  <ng-container *ngIf="materialType === FileType.VIDEO">
    <iframe width="560" height="315" [src]="safeUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ng-container>


  <p>{{materialData.created_at! | customDate}}</p>

</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->