header.header {
  margin: 30px 0 49px 0;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .header-top {
    padding-top: 32px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
    font-weight: 500;

    
    .header-top-phone {
      font-size: 16px;
      color: green;
      text-decoration: none;
      margin-right: 59px;
    }
    .header-top-actions {
      display: flex;
      align-items: center;
      a {
        margin-right: 8px;
        position: relative;
        cursor: pointer;

        &:last-child {
          margin-right: 18px;
        }
        span {
          position: absolute;
          width: 18px;
          height: 18px;
          top: 10px;
          right: -18px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 9px;
          color: green;
          border-radius: 50%;
          background-color: #b6d5b9;
        }
      }
    }
  }
  .header-bottom {
    padding-top: 16px;
    display: flex;
    align-items: center;
    .header-bottom-menu {
      margin-left: 26px;
      margin-right: 97px;
      nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
          margin-right: 50px;
          list-style: none;
          border-bottom: 1px solid transparent;

          &.active {
            border-bottom-color: green;
          }
          a {
            color: green;
            font-size: 16px;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
    .header-bottom-search {
      position: relative;
      input {
        border-radius: 30px;
        border: 1px solid green;
        padding: 10px 10px 10px 43px;
        color: green;
        font-size: 16px;
        width: 214px;
        height: 41px;
        box-sizing: border-box;
        outline: none;
      }
      &::after {
        content: "";
        // background-image: url("../../../../assets/images/icons/search-normal.png");
        background-size: cover;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 15px;
        top: 11px;
      }

      .search-products {
        position: absolute;
        right: 0;
        top: 61px;
        width: 400px;
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid #ebebeb;
        .search-product {
          padding: 12px 23px;
          display: flex;
          align-items: center;
          cursor: pointer;
          background-color: #ffffff;

          &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
          &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          &:hover {
            background-color: #ebebeb;
            .search-product-name {
              color: #000;
            }
          }
          .search-product-image {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            margin-right: 25px;
            background-position: center;
            background-size: cover;
          }
          .search-product-name {
            color: #8e8e8e;
            font-size: 16px;
            line-height: 130%;
          }
        }
      }
    }
  }
}
