<form class="container-form" [formGroup]="userForm" (ngSubmit)="submitForm()">
    <div class="header-text">
        <h2>Create user</h2>
    </div>
    <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Имя</mat-label>
        <input
            matInput
            type="text"
            formControlName="userName"
            class="form-control"
            placeholder="Введите имя"
            [ngClass]="{
                invalid: userForm.get('userName')?.invalid && userForm.get('userName')?.touched
            }"
            (blur)="onBlur('userName')"
        />
        <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            color="primary"
            (click)="userForm.controls['userName'].reset()"
        >
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
            matInput
            type="email"
            formControlName="userEmail"
            class="form-control"
            name="userEmail"
            [ngClass]="{
                invalid: userForm.get('userEmail')?.invalid && userForm.get('userEmail')?.touched
            }"
            (blur)="onBlur('userEmail')"
        />
        <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            color="primary"
            (click)="userForm.controls['userEmail'].reset()"
        >
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Телефон</mat-label>
        <div class="input-wrapper">
            <span
                class="prefix"
                *ngIf="userForm.get('userPhone')?.touched && userForm.get('userPhone')?.dirty"
                >+7</span
            >
            <input
                matInput
                type="tel"
                formControlName="userPhone"
                class="form-control"
                name="userPhone"
                [ngClass]="{
                    invalid:
                        userForm.get('userPhone')?.invalid && userForm.get('userPhone')?.touched
                }"
                (input)="onInput($event)"
                (blur)="onBlur('userPhone')"
            />
        </div>
        <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            color="primary"
            (click)="userForm.controls['userPhone'].reset()"
        >
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <div class="button-container">
        <button
            [class.cancel]="!validForms"
            [class.success]="validForms"
            mat-flat-button
            color="primary"
            type="submit"
        >
            {{ validForms ? 'Отправить' : 'Cancel' }}
        </button>
        <button (click)="testBuutton()">TEST</button>
    </div>
</form>
